body {
  margin: 0;
  padding: 0;
 }
 
 #background 
{ 
     left: 0px; 
     top: 0px; 
     position: relative; 
     margin-left: auto; 
     margin-right: auto; 
     width: 936px;
     height: 612px; 
     overflow: hidden;
     z-index:0;
    } 

 #Layer0 
{ 
     left: 0px; 
     top: 0px; 
     position: absolute; 
     width: 936px;
     height: 612px;
     z-index:1;
} 

img {
  max-width: 100%;
  height: auto;
}